@font-face {
    font-family: 'JetBrainsMono NF';
    src: url('/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrainsMono NF', sans-serif;
}
